# Configuración de Base de Datos
DB_USER=admin
DB_PASSWORD=una_password_fuerte_aqui
DB_NAME=ecommerce_prod

# Seguridad
SECRET_KEY=genera_un_token_largo_y_aleatorio_aqui

# Otros
ACCESS_TOKEN_EXPIRE_MINUTES=1440
